{
	"parser": "babel-eslint",
	"extends": [
		"eslint-config-airbnb"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"mongo": true,
		"mocha": true
	},
	"plugins": [
		"react"
	],
	"globals": {
		//添加项目所需没有申明的全局变量
	},
	"rules": {
		"prefer-const": 0,
		"no-console": 0,
		"no-param-reassign": 0,
		"comma-dangle": 0,
		"object-curly-spacing": 0,
		"prefer-arrow-callback": 1,
		"quote-props": 0
		//    "func-names": 0,
		//    "no-constant-condition": 1,
		//    "no-dupe-keys": 1,
		//    "no-empty": 1,
		//    "curly": 2,
		//    "object-shorthand": 0,
		//    "no-param-reassign": [2, {"props": false}],
		//    "max-len": [2, 200, 2, {
		//      "ignoreUrls": true,
		//      "ignoreComments": false
		//    }]
	}
}
